@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// page layout 
.app-page {
    background-color: var(--background-color);
    height: 1000px;
}

// header layout
.header-container {
    @include flex-center;
    box-sizing: border-box;
    width: 100%;
    padding: 100px 0;
    margin: 0 auto;

    // surrounding button style
    .theme-button {
        border: none;
        padding: 10px;
        border-radius: 80px;
        box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
}

// content layout
.app-content {
    @include flex-center;
    margin: 0 auto;
    width: 50%;
    color: var(--primary-font);
    margin-top: -50px;

    h1 {
        font-size: 16pt;
    }

}

// button sizing
.daynight-button-background {
    @include flex-center;
    position: relative;
    overflow: hidden;
    width: clamp(300px, 50vw, 600px);
    aspect-ratio: 2.85 / 1;
    border-radius: 70px;
    margin: 0 auto;
}

// button knob
.daynight-button-knob {
    position: absolute;
    top: 20%;
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--button-color);
    z-index: 10;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    cursor: pointer;

    &.day {
        left: 5%;
    }

    &.night {
        left: 72%;
    }
}

// button base
.daynight-color {
    position: absolute;
    height: 100%;
    transition: all 0.6s ease;
    box-shadow: inset 0 0.2em 0.3em rgba(0, 0, 0, 0.1);
}

// color map
$night-colors: (
    #524e7a,
    #38326d,
    #251c70,
    #150d58
);
$day-colors: (
    #72c3fc,
    #a6daff,
    #c6e7ff,
    #ddf1ff
);

// color layers
@for $i from 1 through 4 {
    .daynight-color-#{$i}.night {
        background: nth($night-colors, $i);
        left: (20% * ($i - 1));
        width: if($i ==4, 40%, 20%);
        z-index: $i;
    }

    .daynight-color-#{$i}.day {
        background: nth($day-colors, $i);
        left: if($i ==1, 0%, if($i ==2, 40%, if($i ==3, 60%, 80%)));
        width: if($i ==1, 40%, 20%);
        z-index: 5 - $i;
    }
}
